<% @title="New App Home" %>

<h1><%= pluralize(@accounts.size, 'Account') %></h1>

<ul>
<% @accounts.each do |account| %>
  <li>
    <strong><%= account.name %></strong> (<%= account.acc_type %>):
    <%= format_balance(account) %>
  </li>
<% end %>
</ul>