<% @title="New App Home" %>

<h1>Accounts</h1>

<ul>
<% @accounts.each do |account| %>
  <li>
    <strong><%= account.name %></strong> (<%= account.acc_type %>):
    <%= account.balance %>
  </li>
<% end %>
</ul>